@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon8839.ttf?b62dc249e1a880cc2acabc98b67a2102") format("truetype"),
url("../fonts/flaticon8839.woff?b62dc249e1a880cc2acabc98b67a2102") format("woff"),
url("../fonts/flaticon8839.woff2?b62dc249e1a880cc2acabc98b67a2102") format("woff2"),
url("../fonts/flaticon8839.eot?b62dc249e1a880cc2acabc98b67a2102#iefix") format("embedded-opentype"),
url("../fonts/flaticon8839.svg?b62dc249e1a880cc2acabc98b67a2102#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-map:before {
    content: "\f101";
}
.flaticon-calendar:before {
    content: "\f102";
}
.flaticon-clock:before {
    content: "\f103";
}
.flaticon-dial-pad:before {
    content: "\f104";
}
.flaticon-add-user:before {
    content: "\f105";
}
.flaticon-magnifying-glass:before {
    content: "\f106";
}
.flaticon-laboratory:before {
    content: "\f107";
}
.flaticon-right-arrow:before {
    content: "\f108";
}
.flaticon-left-arrow:before {
    content: "\f109";
}
.flaticon-biochemistry:before {
    content: "\f10a";
}
.flaticon-microorganism:before {
    content: "\f10b";
}
.flaticon-skin:before {
    content: "\f10c";
}
.flaticon-sprout:before {
    content: "\f10d";
}
.flaticon-green-earth:before {
    content: "\f10e";
}
.flaticon-medicine:before {
    content: "\f10f";
}
.flaticon-bread:before {
    content: "\f110";
}
.flaticon-automobile:before {
    content: "\f111";
}
.flaticon-medical-report:before {
    content: "\f112";
}
.flaticon-checked-data:before {
    content: "\f113";
}
.flaticon-medical-checkup:before {
    content: "\f114";
}
.flaticon-rating:before {
    content: "\f115";
}
.flaticon-atom:before {
    content: "\f116";
}
.flaticon-lab:before {
    content: "\f117";
}
.flaticon-zoom-in:before {
    content: "\f118";
}
.flaticon-premium:before {
    content: "\f119";
}
.flaticon-phone-call:before {
    content: "\f11a";
}
.flaticon-atom-1:before {
    content: "\f11b";
}
.flaticon-play-store:before {
    content: "\f11c";
}
.flaticon-apple:before {
    content: "\f11d";
}
.flaticon-down-arrow:before {
    content: "\f11e";
}
.flaticon-up-arrow:before {
    content: "\f11f";
}
.flaticon-headphones:before {
    content: "\f120";
}
.flaticon-add-to-cart:before {
    content: "\f121";
}
.flaticon-blood-test:before {
    content: "\f122";
}
.flaticon-down-arrow-1:before {
    content: "\f123";
}
.flaticon-laboratory-1:before {
    content: "\f124";
}
.flaticon-test-tube:before {
    content: "\f125";
}
.flaticon-sharing:before {
    content: "\f126";
}
.flaticon-blood-sample:before {
    content: "\f127";
}
.flaticon-microscope:before {
    content: "\f128";
}
.flaticon-clipboard:before {
    content: "\f129";
}
.flaticon-cells:before {
    content: "\f12a";
}
.flaticon-pin:before {
    content: "\f12b";
}
.flaticon-newsletter:before {
    content: "\f12c";
}
.flaticon-calendar-1:before {
    content: "\f12d";
}
.flaticon-quote:before {
    content: "\f12e";
}
.flaticon-quote-1:before {
    content: "\f12f";
}
.flaticon-check-mark:before {
    content: "\f130";
}
.flaticon-play:before {
    content: "\f131";
}
.flaticon-heart-shape-outline:before {
    content: "\f132";
}
.flaticon-shopping-bag:before {
    content: "\f133";
}
.flaticon-expand-button:before {
    content: "\f134";
}
.flaticon-keyboard-right-arrow-button:before {
    content: "\f135";
}
.flaticon-down-chevron:before {
    content: "\f136";
}
.flaticon-quote-2:before {
    content: "\f137";
}
.flaticon-question:before {
    content: "\f138";
}
.flaticon-phone-call-1:before {
    content: "\f139";
}
.flaticon-message:before {
    content: "\f13a";
}
.flaticon-ambition:before {
    content: "\f13b";
}
.flaticon-solutions:before {
    content: "\f13c";
}
.flaticon-pdf:before {
    content: "\f13d";
}
.flaticon-estimation:before {
    content: "\f13e";
}
.flaticon-button:before {
    content: "\f13f";
}